h1 {
  font-size: 6.608vw;
}

.offer .bitcoin-img {
  right: 10.5vw;
}

.d-hidden {
  display: none;
}

.offer h1  .hide {
  display: none;
}

.offer__readmore {
  right: 8.5vw;
}

.solutions__item-with-image.betting {
  top: 35vw;
}

.solutions__item-with-image.forex {
  margin-top: -6vw;
}

.solutions__item.mb-230 {
  margin-bottom: 3.979vw;
}

.solutions__item.mb-150 {
  margin-bottom: 14.379vw;
}

@media screen and (max-width:834px) {
  .offer .bitcoin-img {
    right: 14.5vw;
  }
  
  .offer__readmore {
    right: 8.5vw;
  }

  .offer h1 span.bold {
    font-size: 7.5vw;
  }

  .solutions__item-with-image.betting {
    top: 44vw;
  }

  .solutions__item.mb-180 {
    margin-bottom: 14vw;
  }

  .solutions__item-with-image.online img {
    width: 47.969vw;
    height: 49.376vw;
    left: -5vw;
    top: -34vw;
  }

  .footer__word {
    margin-left: -6vw;
  }

  .geography__box {
    right: -1vw;
    bottom: 18vw;
    transform: rotate(-5deg);
  }

  .geography__item {
    margin-right: 0!important;
  }

}

@media screen and (max-width: 520px) {
  .offer h1 span, 
  .offer h1 span.bold {
    font-size: 12.5vw;
  }

  .offer h1 span.bold {
    margin-bottom: 0;
  }

  .offer h1 {
    font-size: 10.9vw;
    text-indent: 7.5vw;
    line-height: 9.063vw;
  }

  .offer h1 .m-hidden {
    display: none;
  }

  .offer h1 .hide {
    display: inline;
    font-size: 10.9vw;
  }

  .offer .bitcoin-img {
    width: 10.75vw;
    height: 10.75vw;
    right: 11.5vw;
    top: 55%;
  }

  .offer .etherium-icon {
    width: 14.75vw;
    height: 14.75vw;
    top: 7.5vw;
    left: 3.5vw;
}
 
  .offer__advanatges-experiance,
  .offer__advanatges-users {
      font-size: 3.375vw;
  }
  .solutions__item-with-image.betting {
    top: auto;
  }

  .solutions__item.mb-180 {
    margin-bottom: 97vw;
  }

  .solutions__item-with-image.forex {
    padding-top: 63vw;
  }

  .solutions__item.mb-230 {
    margin-bottom: 10.979vw;
  }

  .solutions__item.mb-150 {
    margin-bottom: 6.379vw;
  }

  .solutions__item-with-image.online img {
    width: 80.969vw;
    height: 80.376vw;
    left: -2vw;
    top: -59vw;
    }

    .geography__box {
      right: 10vw;
      bottom: -11vw;
      transform: rotate(-2deg);
    }

    .geography__item {
      margin-right: 4.688vw!important;
    }

    .footer__word {
      margin-left: -3vw;
    }
  
}